@import "./../../../node_modules/bootstrap/dist/css/bootstrap.css";

.attendanceCard {
  margin-top: 2%;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
}
.header {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 85, 1),
    rgba(242, 92, 17, 1)
  );
  border-radius: 6px;
}
.header p {
  color: white;
}
.headerData {
  font-size: 18px;
}
.headerBtn {
  background-color: white;
  color: rgba(242, 92, 17, 1);
  width: 100px;
  height: 35px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-top: 10%;
}
.subHeader {
  height: 60px;
  border-bottom: 1px solid lightgray;
  padding: 25px;
}
.tbody{
  border-bottom: 1px inset lightgray;
  padding: 15px;
}
.theaders {
  height: 60px;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}
.theaders p {
  color: gray;
}
.glyphicon {
  margin-top: 15%;
  font-size: 20px;
  cursor: pointer;
}

.bottomDiv {
  /* border-top: 1px inset lightgray; */
  /* float: right; */
  display: inline;
}
.shift{
  background-color: white;
  border: 1px solid rgba(255, 0, 85, 1);
  border-radius: 5px;
  width: 20%;
  height: 40%;
  text-align: center;
  /* display: inline; */
  float: right;
}
.request{
  /* display: inline; */
  /* background-color: white; */
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 85, 1),
    rgba(242, 92, 17, 1)
  );
  border: 1px solid rgba(255, 0, 85, 1);
  border-radius: 5px;
  width: 7%;
  height: 50%;
  text-align: center;
  /* display: inline; */
  float: right;
  margin-left: 5px;
  color: white;
}
.shift{
  background-color: white;
  border: 1px solid rgba(255, 0, 85, 1);
  border-radius: 5px;
  width: 7%;
  height: 50%;
  text-align: center;
  /* display: inline; */
  float: right;
  color: rgba(255, 0, 85, 1);
}
#shiftDetails{
  /* display: none; */
}