<mat-card class="container-fluid attendanceCard">
  <mat-card-header class="row header">
    <div class="col-md-2">
      <p>Date</p>
      <p>Aug 6, 2019</p>
    </div>
    <div class="col-md-2">
      <p>Biometric Hrs</p>
      <p>02:30</p>
    </div>
    <div class="col-md-2">
      <p>Work Hrs</p>
      <p>10:10</p>
    </div>
    <div class="col-md-2">
      <p>Status</p>
      <p>Present</p>
    </div>
    <div class="col-md-2">
      <p>Comment</p>
      <p>Approved</p>
    </div>    
    <div class="col-md-1">
      <button>Apply leave</button>
    </div>
  </mat-card-header>

  <form [formGroup]="attendanceTimings">
    <label>Select time</label><br />
    <input [ngxTimepicker]="picker" formControlName="time" [format]="24" />
    <ngx-material-timepicker #picker></ngx-material-timepicker>
    <button type="submit" (click)="sendTimeData()">Submit</button>
  </form>
</mat-card>
