<mat-card class="container-fluid attendanceCard">
  <mat-card-header class="row header">
    <div class="col-md-2">
      <p>Date</p>
      <p class="headerData"><b>Aug 6, 2019</b></p>
    </div>
    <div class="col-md-2">
      <p>Biometric Hrs</p>
      <p class="headerData">02:30</p>
    </div>
    <div class="col-md-2">
      <p>Work Hrs</p>
      <p class="headerData">10:10</p>
    </div>
    <div class="col-md-2">
      <p>Status</p>
      <p class="headerData">Present</p>
    </div>
    <div class="col-md-2">
      <p>Comment</p>
      <p class="headerData">Approved</p>
    </div>
    <div class="col-md-1">
      <button class="headerBtn">Apply leave</button>
    </div>
  </mat-card-header>

  <div class="row" class="subHeader">
    <b style="font-size: 18px;">Attendace request</b>
  </div>

  <div class="row" class="theaders">
    <div class="col-md-2">
      <p><b>Shift</b></p>
    </div>
    <div class="col-md-2">
      <p><b>In Time</b></p>
    </div>
    <div class="col-md-2">
      <p><b>Out Time</b></p>
    </div>
    <div class="col-md-2">
      <p><b>Work Hours</b></p>
    </div>
    <div class="col-md-2">
      <p><b>Reason</b></p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
  </div>

  <div class="row" class="tbody">
    <div class="col-md-2">
      <p><b>Shift 1</b></p>
    </div>
    <div class="col-md-2">
      <form [formGroup]="inTime">
        <label>Select time</label><br />
        <input [ngxTimepicker]="picker" formControlName="time" [format]="24" placeholder="Select Time"/>
        <ngx-material-timepicker #picker></ngx-material-timepicker>
        <!-- <button type="submit" (click)="sendTimeData()">Submit</button> -->
      </form>
    </div>
    <div class="col-md-2">
      <form [formGroup]="outTime">
        <label>Select time</label><br />
        <input [ngxTimepicker]="picker2" formControlName="time" [format]="24" placeholder="Select Time" [disabled]="!inTime.valid"/>
        <ngx-material-timepicker #picker2></ngx-material-timepicker>
        <button class="btn btn-success btn-lg" type="submit" style="margin-top: 5px;" (click)="calculateWorkHrs()">Submit</button>
      </form>
    </div>
    <div class="col-md-2" *ngIf="workHrs">
      <p>{{workHrs}} hrs</p>
      <p>{{workMins}} mins</p>
    </div>
    <div class="col-md-2" *ngIf="workHrs">
      <p>Biometric</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
  </div>

  <!-- <form [formGroup]="attendanceTimings">
    <label>Select time</label><br />
    <input [ngxTimepicker]="picker" formControlName="time" [format]="24" />
    <ngx-material-timepicker #picker></ngx-material-timepicker>
    <button type="submit" (click)="sendTimeData()">Submit</button>
  </form> -->
</mat-card>

<app-component-a (onsubmit)="print($event)"></app-component-a>
